- var cdn = 'https://cdn.jsdelivr.net/gh/liumingye/cdn@4.m/'

doctype html
html
  head
    title
      | #{__('manage')} - #{_config_('title')}
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    link(rel='stylesheet', href='https://cdn.bootcss.com/twitter-bootstrap/4.5.3/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href=cdn + 'style/main.css')
    -if(g_config && g_config.custom_style)
      .
        !{g_config.custom_style}
  body
    div#app
      include partial/message
      header
        .wrap
          a.home(href='/')= _config_('title')
      section.wrap
        div!= body

      script
        | var data={title:"#{_config_('title')}",page="custom"}

  include partial/footer
